APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:B5/CMbzPC4ls2IR/+VuA8Zp3eGPQJyGkYsQ14I5fCEQ=
APP_TIMEZONE=UTC

# DINGO API 1034015971
API_VERSION=v1
API_NAME=lumen-api-demo
# 后缀，和域名应该只有一个
# 打开后访问xxx.com/api/foos
API_PREFIX=api
#API_DOMAIN=www.lumen.com
API_STANDARDS_TREE=vnd
API_SUBTYPE=lumen
API_DEBUG=true


# JWT
JWT_SECRET=AM6KSckJLxUKwXIPk4idgbdo2eNxu77z
# token 过期时间为 默认1小时，根据自己需要配置
# JWT_TTL=60
# JWT_REFRESH_TTL=60


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lumen
DB_USERNAME=root
DB_PASSWORD=123456

CACHE_DRIVER=file
QUEUE_DRIVER=sync
